/* CSS declarations go here */
html {
  height: 100%;
  background-color: #ffffff;
}

#app {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0 auto;

  height: 100%;
  background: linear-gradient(#04bedc, #5ddca6);
}

#render-target {
  height: 100%;
}

h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /*background-color: red;*/
  background-color: #04bedc;
  height: 50px;
  text-align: center;
}

header {
  display: block;
  text-align: center;
}

ul {
  display: inline-block;
  margin: auto;
}

.container, .page-auth {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 100%;
}

form {
  text-align: center;
}

form div input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 0.7em 0.7em;
  font-size: 16px;
}

form button {
  font-size: 16px;
  margin: 10px auto;
}

.link-auth-alt, .link-sign-up-alt {
  display: block;
  margin: 0.7em auto;
  text-align: center;
}

.subtitle-auth {
  text-align: center;
}