/* CSS declarations go here */
html {
  height: 100%;
  background-color: #ffffff;
}

#app {
  height: 100%;
}

body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0 auto;

  height: 100%;
  background: linear-gradient(#04bedc, #5ddca6);
}

#render-target {
  height: 100%;
}

h1 {
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /*background-color: red;*/
  background-color: #04bedc;
  height: 50px;
  text-align: center;
}
li {
	list-style-type: none;
}

.new-task input{
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}

.new-task input{
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}

header {
  display: block;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.container, .page-auth {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: 100%;
}

form {
  text-align: center;
}

form div input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 0.7em 0.7em;
  font-size: 16px;
}

form button {
  font-size: 16px;
  margin: 10px auto;
}

.link-auth-alt, .link-sign-up-alt, .link-sign-in-alt {
  display: inline-block;
  margin: 0.7em auto;
  text-align: center;
}

.subtitle-auth {
  text-align: center;
}

.page-content {
  text-align: center;
}

.title{
  position: fixed;
  width:100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
.tabs{
  top: 50px;
  position: fixed;
  width:100%;
}
.tasklistbody{
  padding-top: 100px;
  width:100%;
}
