/* CSS declarations go here */
html {
    height: 100%;
    background-color: #ffffff;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0 auto;

    height: 100%;
    background-color: #2f9cf3;
}

#render-target {
    height: 100%;
}

h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: red;
    height: 50px;
}

header {
    display: block;
    text-align: center;
}

ul {
    display: inline-block;
    margin: auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    height: 100%;
}