.title{
  position: fixed;
  top: 0px;
  width:100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tabs{
  top: 50px;
  position: fixed;
  width:100%;
}
.tasklistbody{
  padding-top: 48px;
  width:100%;
  height:100%;
}

.new-task input{
  box-sizing: border-box;
  padding: 10px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
.addButton {
  top: 0px;
  position: fixed;
  right: 0;
}
.taskButton {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 35px;
}
.taskItem {
  margin: 0;
  color: black;
}

.datePicker {
  padding-top: 2px;
}

.floatLeft {
  width: 50%;
  float: left;
}
.floatRight{
  width: 50%;
  float: right;
}